<p>This is your purchase</p>
<p>Your purchase is <%= @purchase.inspect %></p>

<p>Here is 
  <a href="https://sarvar-rails-learnapp-bucket.s3.us-east-1.amazonaws.com/uzbekistan.jpeg?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEH0aCmV1LW5vcnRoLTEiRjBEAiEAiigRS5fGDJqJwbjKjgXxa9FJceqmES19UCe9eSc3jvkCHzySSt2r70Sts73sbDPNGKeKyGfGbRGhKK004sgLjWsq7QIIxv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw4OTc3OTE4OTY5MzYiDCenjnK4fDIhvaCscCrBApH%2F%2BFdZOTAlkqXT%2Fd%2FCbZR8uef1g1egbdxkyR6hoHHQ%2B%2FU2oOUPADETaQUckrtRI5DoCKH0kjl3G5AJEldoxgEv167%2FeriY7JgANslG5LvCiUoFtZf3%2BwVnW9PkUPIMzEMSp2Ixk2C6NlGdRsoaEQOFVF%2FbR11ccsKJmEgJMlc9uncUE4hGkpCxCoSdorshrCA%2FA2Pj6V3UVKLo8k9elj5QHtkczR%2FqVWOo%2BZwlnVQ8PD7%2BLVQxLlX%2B3lWCtMDClqzXjA9fU1UPjAyEk2y6famOOAIU3kebZ3T8BnkHALwT9eLyXNAKnj3onb%2F3mKEW4N5WwR0EiqNZEIcUtvHdyycKe5SwJwwfavaHOqJzUJDyVXiy9Jo8UnIiZmnoKB%2Fb6uXmZdOpTnbhGu6Z%2B%2BTPo4Kayl7F3SgGgx7kfOo%2FXNPewjDSxLWQBjq0AqDW8YgYGzrrh4RZc8FK57CyrzqSs8p%2Bnw%2BkSTJ4%2BpCk3sbqeLXreZV6ColqK6r5cL0tIJUOqO2QxbE4sTk6GJzN0M%2BDUWG2vT2vjzsHH4BRtlZxNSNTWZBALCyWxq8G2GuqfqTQcZvwpn4VUp18VcPDvTzNGfuR%2FnpEnhCqr89hKfj7o42caYsNOS2q%2B%2FcZHjU%2B5B3oaDV13P25beSdwDuCZJoFZz8vxpZoiIHz8zWMlhfiPIvxJSHApHth%2Bez%2FFGvjOjeVLlJ2KGLxITQYG7mPtGalwKRnJFTHErVFqg4bUbqCIqVDbjTk3jRxUr%2BQMfeXNjvArzI7%2B7VNQrqJld%2FNqDwadPLzNPJu8PPgATVpyyOcPQdHEwT8lecfRK3n8%2FnfhlOMWqCVWL2WKfYtH%2BRDzFBD&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20220216T210755Z&X-Amz-SignedHeaders=host&X-Amz-Expires=518400&X-Amz-Credential=ASIA5CCERFVUHBP6MTMG%2F20220216%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=a6542a8187bc620126312217d9dd8ff253a891db52c07e2a883e38e6f22ba14a">
    your file
  </a>
</p>
